.codediv {
	background-color: lightblue;
	border-radius: 10dp;
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
	overflow-x: scroll;
}
.subheading {
	font-family: 'Sofia';
	text-align: center;
	font-size: 30px;
}
.subheading4 {
	font-family: 'Sofia';
	font-size: 22px;
}
.code {
	font-size: 15px;
	font-family: 'Cantata One';
}
.commentclass {
	background-color: white;
	padding: 1px;
}
.outer {

}
.heading {
	font-family: 'Sofia';
	font-size: 25px;
	color: orange;
	border-left: 3px solid orange;
	padding: 10px;
	background-color: black;
}
.paragraph {
	font-size: 20px;
	padding-left: 20px;
	font-family: 'Cherry Swash';
}
.inner {
	border: 1px solid black;
}