body {
	background-color: black;
}
.outer {
	background-color: black;
}
.inner {
	margin: 10px;
	background-color: orange;
}
ul {
	background-color: black;
}
.heading {
	font-family: 'Cherry Swash';
	font-size: 25px;
	text-align: center;
	position: right|center;
	padding: 5px;
}
li {
	font-size: 20px;
	color: orange;
	font-family: 'Sofia'
	margin: 10px;
	padding: 10px;;
}
h2 {
	color: orange;
}